body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  background-color: #e6e3b8;
}

body {
  background-size: cover;
}

.map-container {
  width: 100%;
  height: 70%;
}

h2,
label {
  color: black;
}
.card {
  border: none;
}

.toast {
  width: 100px;
}
